click==6.7
cmake==3.11.0
cycler==0.10.0
dlib==19.14.0
face-recognition==1.2.2
face-recognition-models==0.3.0
imutils==0.4.6
kiwisolver==1.0.1
matplotlib==2.2.2
numpy==1.14.5
opencv-python==3.4.1.15
pbr==4.1.0
Pillow==5.2.0
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
scikit-learn==0.19.1
scipy==1.1.0
six==1.11.0
stevedore==1.28.0
virtualenv==16.0.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
